.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}
header{
  display: inline;


}
nav {
  float: left;
  width: 110px;
  height: 500px;
}

nav ul{
  list-style: none;
  margin-left: -40px;
}

.content{
  float: right;
  display: inline;
  border-left: 2px solid grey;
  padding-left: 20px;
  width: 580px;
}

.footer{
  clear: both;
  border-top: 2px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 138px;
  
}
